.header {
    /*background-color: bisque;*/
    height: 100px;
    position: relative;
    width: 100%;
}
.header-nav {
    float: right;
    margin-right: 5em;
    padding: 5.5vh 60px 0 0; 
}

.header-nav a {
    font-family: 'Josefin Sana';
    font-size: 24px;
    color: #000;
    text-decoration: none;
}

.header-nav a:hover,
.header-nav a:active {
    color: rgb(210, 130, 31);
}

.header-nav > li {
    display: inline-block;
    margin-left: 1.5em;
}

.header-logo {
    margin-left: 15em;
    position: absolute;
    height: 120px;
    width: 120px;
}

hr {
    margin: 1em 2em 1em 2em;
    opacity: 0.1;
}

.hero-image {
    float: right;
    padding-top: 35px;
    margin-right: 5em;
}

.hero-content {
    padding-top: 30px;
    margin-left: 15em;
}

.big-intro {
    font-family: 'Josefin Sans';
    font-size: 48px;
    line-height: 1.5;
    font-weight: bold;
}

.small-intro {
    font-family: 'Josefin Sans';
    font-size: 24px;
    padding-top: 0%;
}

.sign-btn {
    background-color: rgb(28, 95, 95);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left: 15em;
    display: inline-block;
}

.sign-btn:hover{
    background-color: rgb(210, 130, 31);
}

span {
    color: rgb(235, 55, 55);
}